body {
    font-family: 'Top Modern', sans-serif;
    margin: 0;

    h1 {
        font-size: 36px;
    }

    button {
        border: none;
        font-family: inherit;
    }
}

.taskManager {
    .primaryButton {
        padding: 20px 30px;
        margin: 15px 10px 0 0;
        min-width: 130px;
        background-color: #103F4A;
        color: white;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background-color: #1A6575;
        }
    }

    .secondaryButton {
        padding: 20px 30px;
        margin: 15px 10px 0 0;
        min-width: 130px;
        background-color: #000;
        color: white;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background-color: #414746;
        }
    }

    .taskManager__header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background: linear-gradient(90deg, #2A7B9B 0%, #57C785 90%);

        .header__logo {
            .logo__text {
                color: #FFF;
            }
        }

        .header__menu {
            .menu__newTaskButton {

            }
        }
    }

    .taskManager__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100vh;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        .content__pendingColumn,
        .content__inProgressColumn,
        .content__finishedColumn {
            flex: 1;
            background-color: #E8FFF0;
        }

        .content__pendingColumn,
        .content__inProgressColumn {
            @media (min-width: 768px) {
                border-right: 5px solid #103F4A;
            }
        }

        .pendingColumn__header,
        .inProgressColumn__header,
        .finishedColumn__header {
            display: flex;
            justify-content: center;
            padding: 20px;
            background-color: #000;
            color: #FFF;
        }

        .task {
            padding: 20px;
            background-color: #FFF;
            margin: 20px;
            border: 2px solid #000;
            border-radius: 5px;
            cursor: pointer;

            .task__assignee {
                display: flex;
                align-items: center;
                margin-left: -7px; /* fix alignment due to poorly cropped icon */

                &:before {
                    content: "";
                    display: inline-block;
                    width: 36px;
                    height: 36px;
                    background: url(user-icon.png) center center / contain no-repeat;
                }
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

    .modal__inner {
        background-color: #FFF;
        margin: 10% auto;
        padding: 20px;
        border-radius: 10px;
        width: 90%;
        max-width: 400px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);

        input,
        textarea {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        textarea {
            resize: none;
        }

        select {
            width: 100%;
            padding: 10px;
            margin: 5px 0 10px 0;
        }

        .modal__header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .modal__close {
                font-size: 20px;
                cursor: pointer;
                border: none;
                background: none;
                transition: transform 0.6s ease;
                color: #000;


                &:before {
                    content: "X";
                }

                &:hover {
                    transform: rotate(180deg);
                }
            }
        }

        .modalContent__assignee {
            border-top: 2px solid #000;
            padding: 20px 0 0;
        }
    }
}
